<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<%= @question %> -->


<p>Ask him anything!</p>
  <p><form id="input" action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form></p>
